<nav class="navbar navbar-inverse bg-inverse">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">TutorNation</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/search-tutor">Search Tutor</a></li>

      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <li *ngIf="!loggedin"><a routerLink="/sign-up">Sign Up</a></li>
      <li *ngIf="!loggedin"><a routerLink="/login">Log In</a></li>
      <li *ngIf="loggedin"><a>Logged In</a></li>
      <li *ngIf="loggedin"><a>Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h1>Tutor Registration Form</h1>

  <form>

<div class="panel panel-info">
<div class="panel-heading">

<span style="font-size: 30px"> Courses Offered </span>

<button style="float:right" class="btn btn-primary" (click) = "addCourseInfo()"> Add Another Course</button>
</div>

  <li *ngFor="let person of course; let i = index">
      <div class="form-group">

      <div class="panel-heading">
       <span style="font-size: 24px"> Course {{person.id}}</span>

       <a class="glyphicon glyphicon-remove" style="float: right; color: red" (click) ="deleteCourseInfo(person)"></a>
       </div>

        <div class="panel-body">
       <label for="cousesofferingno" style="float:left;">Course Number</label>

       <input type="text" required class="form-control" id="courseno" placeholder="Enter Course Number" [(ngModel)]='person.cno' #courseno="ngModel" name="cno{{i}}"/>

      <div class="alert alert-danger" *ngIf="!courseno.valid&&courseno.touched">Course Number must be entered</div>

      <label for="cousesofferingname" style="float:left;">Course Name</label>
       <input type="text" required class="form-control" id="coursename" placeholder="Enter Course Name" [(ngModel)]='person.cname' #cname="ngModel" name="cname{{i}}">
      <div class="alert alert-danger" *ngIf="!cname.valid&&cname.touched">Course Name must be entered</div>
      </div>
      </div>


</li>
</div>

  <button type="back" class="btn btn-danger" (click)="back()">Back</button>



  <button type="submit" class="btn btn-primary" (click) ="display()" style="float:right;">Submit</button>

 
</form>
</div>
