

<div class="parallax-2">
  <div class="register-space page-header" style="top: 30%">
    <h1>Register Now</h1>
    <div class="button-group" align="center">
      <button class="btn btn-primary first_btn" (click)=register_tutor()>Register As A Tutor</button>
      <button class="btn btn-primary following_btn" (click)=search_tutor()>Search For A Tutor</button>
    </div>
  </div>

  <div class="footer" style="top: 90%">
    <div class="navigate">
      <table>
        <tr>
          <th>NAVIGATE</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th><a routerLink="/search-tutor" style="font-size: 14px;"><span class="glyphicon glyphicon-play"></span>Search Tutor</a></th>
          <th><a routerLink="/about-us" style="font-size: 14px;"><span class="glyphicon glyphicon-play"></span>About Us</a></th>
          <th><a routerLink="/contact-us" style="font-size: 14px;"><span class="glyphicon glyphicon-play"></span>Contact Us</a></th>
          <th><a routerLink="/sign-up" style="font-size: 14px;"><span class="glyphicon glyphicon-play"></span>Sign Up</a></th>
        </tr>
      </table>
    </div>

    <div class="info">
      <img src="../../assets/OSU_horizontal_2C_O_over_W.png">
      <p style="color: #ffffff;">2017 Fall CS561 Software Engineering - Term Project</p>
    </div>
  </div>
</div>
