<div class="parallax-1">
  <div class="name page-header">
    <h1>Tutor Nation</h1>
    <h1><small> As A Student As A Tutor</small></h1>
  </div>
</div>

<div class="area">
  <h1>Why TutorNation</h1>
  <p>qwertjfboeuba, pcche neonc eijcnlaoc. ondeoinsoeun ifns cujdooline.</p>
</div>

<div class="parallax-2">
  <div class="register-space page-header">
    <h1>Register Now</h1>
    <div class="button-group" align="center">
      <button class="btn btn-primary first_btn" (click)=register_tutor()>Register As A Tutor</button>
      <button class="btn btn-primary following_btn" (click)=register_tutor()>Search For A Tutor</button>
      <button class="btn btn-warning following_btn" (click)=register_tutor()>Sign Up</button>
    </div>
  </div>
</div>
