<nav class="navbar navbar-inverse bg-inverse">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TutorNation</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="tutor-registration">Tutor Registration</a></li>
      <li><a routerLink="search-tutor">Search Tutor</a></li>
      <li><a routerLink="about-us">About Us</a></li>
      <li><a routerLink="contact-us">Contact Us</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
