<nav class="navbar navbar-inverse bg-inverse">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">TutorNation</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron" style="text-align: center">
    <h1>Welcome {{user.user}}</h1>
    <p>You can manage your courses and information here.</p>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div *ngIf="istutor===true" class="col-md-4" style="text-align: center">
       <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Manage Courses</h1>
        </div>
        <div class="panel-body">
          <span *ngFor="let course of user.course_offerings" class="panel panel-default">
            <div class="panel panel-info">
                          {{course}}
                </div>
             </span>
              </div>
            
         </div>
      </div>

      <div *ngIf="istutor===true" class="col-md-4" style="text-align: center">
       <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">View Your Timeslots</h1>
        </div>
        <div class="panel-body">
          <span *ngFor="let timeslot of stimeslot" class="panel panel-default">
            <h4 style="text-align: left">Course - {{timeslot.course}}</h4>

            <div class="panel panel-info">
                       <h5> {{timeslot.startTime}} - {{timeslot.endTime}} </h5>
                       <h5> Date : {{timeslot.Date}} </h5>
            </div>
             </span>
              </div>
            
         </div>
      </div>

      <div *ngIf="istutor===false" class="col-md-4" style="text-align: center">
       <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">View Your Timeslots</h1>
        </div>
        <div class="panel-body">
          <span *ngFor="let timeslot of ttimeslot" class="panel panel-default">
            <h4 style="text-align: left">Course - {{timeslot.course}}</h4>

            <div class="panel panel-info">
                       <h5> {{timeslot.startTime}} - {{timeslot.endTime}} </h5>
                       <h5> Date : {{timeslot.Date}} </h5>
            </div>
             </span>
              </div>
            
         </div>
      </div>
  </div>
</div>


  <div style="text-align: left">
  <button type="back" class="btn btn-danger" (click)="back()">Back</button>
  </div>

