<nav class="navbar navbar-inverse bg-inverse">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">TutorNation</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/search-tutor">Search Tutor</a></li>

      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <!--<li *ngIf="!loggedin"><a routerLink="/sign-up">Sign Up</a></li>
      <li *ngIf="!loggedin"><a routerLink="/login">Log In</a></li>-->
 

    </ul>
  </div>
</nav>

<div class="container">
  <h1>Search for a Tutor</h1>
  <form>

    <div class="form-group">
      <div class="dropdown">
          <select placeholder="Department" class="btn dropdown-toggle" id="department_name_id" type="button" data-toggle="dropdown" (change)="dropdownValue($event.target.value)">
            <option value="Department_Placeholder"> Select a Department</option>
            <option id= "subject" [ngValue]=i *ngFor="let i of subjects"> {{i}}</option>
          </select>

      </div>
    </div>

    <div class= "form-group">
      <input type="textbox" class="form-control" placeholder="Search by Name or Subject" id="search_tutor_id" required>
    </div>

    <button type="back" class="btn btn-danger" (click)="back()">Back</button>
    <button class="btn btn-primary" style="float:right;" (click)="submit()">submit</button>

  </form>

</div>
