<div class="container">
  <h1>Search for a Tutor</h1>
  <form>

    <div class="form-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Department
        <span class="caret"></span></button>
        <ul class="dropdown-menu" >
          <li *ngFor="let i of subjects"> {{i}}</li>
        </ul>
      </div>
    </div>

    <div class= "form-group">
      <input type="textbox" class="form-control" placeholder="Search by Name or Subject" id="search_tutor_id" required>
    </div>

    <button type="back" class="btn btn-danger" (click)="back()">Back</button>
    <button class="btn btn-primary" style="float:right;">submit</button>

  </form>

</div>
