<nav class="navbar navbar-inverse bg-inverse">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">TutorNation</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/search-tutor">Search Tutor</a></li>

      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <!--<li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
      <li *ngIf="!loggedin"><a routerLink="/login">Log In</a></li>-->
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Registration Form</h1>

  <form>

      <div class="form-group">
        <label for="exampleInputPassword1" style="float:left;">Enter Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]='name' #fname="ngModel"  name="name"  required >
        <div class="alert alert-danger" *ngIf="!fname.valid">Name must be entered</div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" style="float: left">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]='email' #em="ngModel" name="email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="alert alert-danger" *ngIf="!em.valid && em.touched">Email must be entered</div>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1" style="float:left;">Password</label>
        <input type="password" required class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]='password' #pword="ngModel" name="password">
      <div class="alert alert-danger" *ngIf="!pword.valid&&pword.touched">Password must be entered</div>

      </div>

      <button type="back" class="btn btn-danger" (click)="back()">Back</button>

      <button type="submit" class="btn btn-primary" (click) ="display()" style="float:right;">Submit</button>

    </form>
    </div>
