<div class="container">

  <div align="center">
    <section>
      <h2>- Our Mission -</h2>
      <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    </section>

    <section>
      <h2>- Team -</h2>
      <table>
        <tr>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
          <td>
            <div class="profile-pic">
              <img src="../../assets/profilepic.png">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
          <td>
            <div>
              <p>Developer</p>
              <p>I am funny Harsh</p>
              <br>
              <br>
            </div>
          </td>
        </tr>
      </table>
    </section>
  </div>

</div>
